@model List<Disciplina>

@{
    ViewBag.Title = "Lista de Disciplinas";
}
<br />
<br />

<h1>Disciplinas
    <br />
    <a  href = "@Url.Action("cadastrarDisciplina","Disciplina")" class = "btn btn-primary">Cadastrar Disciplina</a>
</h1>
<br />
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <td><b>Cod.Disciplina</b></td>
            <td><b>Nome da Disciplina</b></td>
            <td><b>Alunos - RA </b></td>
            <td><b>Ano</b></td>
            <td><b>Curso</b></td>
        </tr>
    </thead>
    <tbody>
        @foreach(var disciplina in @Model)
        {
            <tr>
                <td>@disciplina.IdDisciplina</td>
                <td>@disciplina.Nome</td>
                <td>
                 @foreach(var aluno in disciplina.Alunos)
                    {
                        @aluno.Nome <b>-</b>
                        @aluno.RA<br/>
                    }
                </td>
                <td>@disciplina.Semestre</td>
                <td>@disciplina.Curso</td>
            </tr>
        }
    </tbody>
</table>