@model List<Disciplina>

@{
    ViewBag.Title = "Alunos/Disciplinas";
}
<h2>Disciplinas</h2>


<table class="table table-striped">
    <thead>
        <tr>
            <td><b>Nome do Aluno</b></td>
            <td><b>Cod.Disciplina</b></td>
            <td><b>Nome da Disciplina</b></td>
            <td><b>Ano</b></td>
            <td><b>Curso</b></td>
            <td><b>Gerenciar</b></td>
        </tr>
    </thead>
    <tbody>
        @foreach(var disciplina in @Model)
        {
            <tr>
                <td>@ViewBag.nomeAluno</td>
                <td>@disciplina.IdDisciplina</td>
                <td>@disciplina.Nome</td>
                <td>@disciplina.Semestre</td>
                <td>@disciplina.Curso</td>
                <td><button onclick="loadDoc('@Url.Action("Index","Disciplina", new {idAluno = @disciplina.IdAluno, idDisciplina = @disciplina.IdDisciplina, nomeAluno = @ViewBag.nomeAluno })','POST')" type="button" class="btn btn-danger">Excluir</button></td>
            </tr>
        }
    </tbody>
</table>